.loading-container {
  display: flex; /* Alignez les carrés horizontalement */
  justify-content: center; /* Centrez les carrés horizontalement */
  
}

.loading-square {
  margin-top: 20%;
  width: 25px;
  height: 25px;
  margin-right: 21px;
  background-color: #4B4C4E;
  transform-origin: left;
  border: 1px solid #080808;
}

.loading-screen h1 {
  font-size: 12px;
  display: flex;
  margin-right: 5px;
  justify-content: center;
  color: #4B4C4E;
}

.starting{

  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4B4C4E;

}




