.html-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  /* Assurez-vous que la valeur de z-index est inférieure à celle de la modale */
  z-index: 999; /* Vous pouvez ajuster cette valeur si nécessaire */
}

.modal-open .html-container {
  height: 0;
  overflow: hidden;
}

.html-container p {
  color: #323538;
  font-size: 12px;
  margin-right: 15%;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-top: 20%;
}

.logo-html {
  padding: 10px; /* Ajustez cette valeur selon vos besoins */
  width: 60%;
}

.logo-html:hover {
  background-color: #4b4c4e;
}

.title-static {
  display: flex;
  gap: 10px;
  position: absolute;
  top: -32px;
  left: 13px;
  color: #3c3f42;
}

.static-window {
  width: 50%;
  height: 300px;
  background: #ebebeb;
  padding: 20px;
  border-top: 46px solid #f7f7f7;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  margin-left: 15%;
  border-radius: 0 0 8px 8px;
  margin-top: 17%;
  position: relative;
}

.ascii {
  font-family: monospace; /* Utilisez une police à chasse fixe pour maintenir l'alignement ASCII */
  white-space: pre;
  color: #83849e;
  /* Ajoutez d'autres styles selon vos besoins */
}

.img {
  display: flex;
}
